# This original processing of data from original file 
- go to execution cell 261 for language identification section

In [250]:
import pandas as pd 
import numpy as np

df=pd.read_csv(r"D:\summer project\Fire\jsonl_datase\CRYPTO-twitter.csv")
df.head(5)

,Text,Level 1,Level 2,Level 3,Datatype
0,@isomild1 à¹‚à¸«à¸§à¸•à¸„à¹ˆà¸°\ni vote for #m...,0,NaN,NaN,Noise
1,start with what is right rather than what is a...,0,NaN,NaN,Noise
2,rt @laliceupdates: â€œin the same day i saw #l...,0,NaN,NaN,Noise
3,snivy #01 \n.\ngogo take your first pokemon \n...,0,NaN,NaN,Noise
4,rt @globaltechg: join the #challenge now!\n\n#...,0,NaN,NaN,Noise

In [251]:

def L1_categoriser(row):
    if row['Level 1']== 0:
        return "Noise"
    elif row['Level 1']== 1:
        return "Objective"
    elif row['Level 1']== 2:
        return "Subjective"
    else:
        return np.nan
df["L1_Datatype"]=df.apply(L1_categoriser,axis=1)
df.head(3)

,Text,Level 1,Level 2,Level 3,Datatype,L1_Datatype
0,@isomild1 à¹‚à¸«à¸§à¸•à¸„à¹ˆà¸°\ni vote for #m...,0,NaN,NaN,Noise,Noise
1,start with what is right rather than what is a...,0,NaN,NaN,Noise,Noise
2,rt @laliceupdates: â€œin the same day i saw #l...,0,NaN,NaN,Noise,Noise

In [252]:
def L2_categoriser(row):
    if row['Level 2']== 0:
        return "Nuetral"
    elif row['Level 2']== 1:
        return "Negative"
    elif row['Level 2']== 2:
        return "Positive"
    else:
        return np.nan
df["L2_Datatype"]=df.apply(L2_categoriser,axis=1)
df.tail(6)

,Text,Level 1,Level 2,Level 3,Datatype,L1_Datatype,L2_Datatype
4981,rt @ricky_bdc: when do you think #babydoge wil...,2,NaN,NaN,Subjective,Subjective,NaN
4982,rt @shidofinance: shido giveaway! let is star...,2,0.0,2.0,Advertisement,Subjective,Nuetral
4983,rt @daodvrs: welcome to daoverse:\n\n\n\n\n#da...,2,NaN,NaN,Subjective,Subjective,NaN
4984,rt @shidofinance: shido giveaway! let is start...,2,0.0,2.0,Advertisement,Subjective,Nuetral
4985,rt @ilovenft21: rt if you think #crypto is goi...,2,2.0,NaN,Positive,Subjective,Positive
4986,rt @btc_archive: hodl #bitcoin when everybody ...,2,2.0,NaN,Positive,Subjective,Positive

In [253]:
def L3_categoriser(row):
    if row['Level 3']== 0:
        return "Nuetral Sentiment"
    elif row['Level 3']== 1:
        return "Negative Sentiment"
    elif row['Level 3']== 2:
        return "Positive Sentiment"
    elif row['Level 3']== 3:
        return "Miscellaneous"
    else:
        return np.nan
df["L3_Datatype"]=df.apply(L3_categoriser,axis=1)
df.tail(6)

,Text,Level 1,Level 2,Level 3,Datatype,L1_Datatype,L2_Datatype,L3_Datatype
4981,rt @ricky_bdc: when do you think #babydoge wil...,2,NaN,NaN,Subjective,Subjective,NaN,NaN
4982,rt @shidofinance: shido giveaway! let is star...,2,0.0,2.0,Advertisement,Subjective,Nuetral,Positive Sentiment
4983,rt @daodvrs: welcome to daoverse:\n\n\n\n\n#da...,2,NaN,NaN,Subjective,Subjective,NaN,NaN
4984,rt @shidofinance: shido giveaway! let is start...,2,0.0,2.0,Advertisement,Subjective,Nuetral,Positive Sentiment
4985,rt @ilovenft21: rt if you think #crypto is goi...,2,2.0,NaN,Positive,Subjective,Positive,NaN
4986,rt @btc_archive: hodl #bitcoin when everybody ...,2,2.0,NaN,Positive,Subjective,Positive,NaN

In [254]:
cols= list(df.columns)
df=df[cols[:4]+cols[5:8]+[cols[4]]]

In [255]:
df.head(6)

,Text,Level 1,Level 2,Level 3,L1_Datatype,L2_Datatype,L3_Datatype,Datatype
0,@isomild1 à¹‚à¸«à¸§à¸•à¸„à¹ˆà¸°\ni vote for #m...,0,NaN,NaN,Noise,NaN,NaN,Noise
1,start with what is right rather than what is a...,0,NaN,NaN,Noise,NaN,NaN,Noise
2,rt @laliceupdates: â€œin the same day i saw #l...,0,NaN,NaN,Noise,NaN,NaN,Noise
3,snivy #01 \n.\ngogo take your first pokemon \n...,0,NaN,NaN,Noise,NaN,NaN,Noise
4,rt @globaltechg: join the #challenge now!\n\n#...,0,NaN,NaN,Noise,NaN,NaN,Noise
5,rt @notgonn83086720: @blondelaliz loved the ed...,0,NaN,NaN,Noise,NaN,NaN,Noise

## if using token count equal to 1 token=4 character

In [256]:
# for pos,row in df.iterrows():
#     length=len(str(df.iloc[pos,0]))/4
#     df.at[pos,"token_count"]=length

# df["token_count"] = df["Text"].apply(lambda x: len(str(x))/4)
# total=df["token_count"].sum()

it is for llama

In [257]:
from transformers import AutoTokenizer

tokenizer=AutoTokenizer.from_pretrained("meta-llama/Meta-Llama-3-8B")
df["token_count"]=df["Text"].apply(lambda x: len(tokenizer.encode(str(x))))
df.head(5)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

,Text,Level 1,Level 2,Level 3,L1_Datatype,L2_Datatype,L3_Datatype,Datatype,token_count
0,@isomild1 à¹‚à¸«à¸§à¸•à¸„à¹ˆà¸°\ni vote for #m...,0,NaN,NaN,Noise,NaN,NaN,Noise,77
1,start with what is right rather than what is a...,0,NaN,NaN,Noise,NaN,NaN,Noise,37
2,rt @laliceupdates: â€œin the same day i saw #l...,0,NaN,NaN,Noise,NaN,NaN,Noise,48
3,snivy #01 \n.\ngogo take your first pokemon \n...,0,NaN,NaN,Noise,NaN,NaN,Noise,74
4,rt @globaltechg: join the #challenge now!\n\n#...,0,NaN,NaN,Noise,NaN,NaN,Noise,35

In [258]:
df['Text'][207]

'rt @trade_2022: #foxtraderpro #forex #forextrading #bitcoin\n#trade #trader #traderlifestyle #trading #exynox\n#tradeforex #forexsignalsserviâ€¦'

In [259]:
total=df["token_count"].sum()
total

230590

In [260]:
print("Analysis for twitter dataset")
df["token_count"].describe()

Analysis for twitter dataset

count    4987.000000
mean       46.238219
std        19.306296
min         2.000000
25%        33.000000
50%        43.000000
75%        55.000000
max       151.000000
Name: token_count, dtype: float64

# *__from here onward will start editing for translation version__*

- remove all punctuation except # and @
- remove gibberish word 
- make separate column for @ data and # data

In [261]:
df_2= pd.read_csv(r"D:\summer project\Fire\jsonl_datase\CRYPTO-twitter.csv")
df_2.head(6)

,Text,Level 1,Level 2,Level 3,Datatype
0,@isomild1 à¹‚à¸«à¸§à¸•à¸„à¹ˆà¸°\ni vote for #m...,0,NaN,NaN,Noise
1,start with what is right rather than what is a...,0,NaN,NaN,Noise
2,rt @laliceupdates: â€œin the same day i saw #l...,0,NaN,NaN,Noise
3,snivy #01 \n.\ngogo take your first pokemon \n...,0,NaN,NaN,Noise
4,rt @globaltechg: join the #challenge now!\n\n#...,0,NaN,NaN,Noise
5,rt @notgonn83086720: @blondelaliz loved the ed...,0,NaN,NaN,Noise

In [262]:
df_2["Text"][207]

'rt @trade_2022: #foxtraderpro #forex #forextrading #bitcoin\n#trade #trader #traderlifestyle #trading #exynox\n#tradeforex #forexsignalsserviâ€¦'

In [263]:
df_2['Text'][4941]

'rt @daodvrs: welcome to daoverse:\n\n\n\n\n#dao #daos #cryptotrading #cryptocurrency #x1000gem hâ€¦'

In [264]:
df_2['Text'][4981]

'rt @ricky_bdc: when do you think #babydoge will be listed on #binance the world is largest #cryptocurrency exchange. \n\nwhat do you think wheâ€¦'

In [265]:
import re 
import unicodedata
def rem_hash_user(text:str):
    if pd.isna(text):
        return ""
    hash_user = re.findall(r"(@\w+|#\w+|@\d+|#\d+)", text)
    hash_user= " ".join(hash_user)
    return hash_user

df_2["hash_user"] = df_2["Text"].apply(rem_hash_user)

df_2.sort_values("Text",ascending=True).head(6)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user
4763,"""buy low, sell high"" \nget ready to trade team...",2,0.0,2.0,Advertisement,#join #bepartofourteam #asj #asjfxglobal #asjf...
1511,"""frisky &amp; puke"" thank you so much to my fe...",0,NaN,NaN,Noise,@party_pittie #web3 #metaverse #crypto #eth
326,"""komatsu is smart factory"" aiming for 5g based...",0,NaN,NaN,Noise,#artificialintelligence #kÃ¼nstlicheintelligen...
87,"""komatsu is smart factory"" aiming for 5g based...",0,NaN,NaN,Noise,#artificialintelligence #kÃ¼nstlicheintelligen...
3068,"""most people have no idea what&amp;#39;s ...\n...",1,NaN,NaN,Objective,#39 #altcoins #bitcoinanalysis #bitcoincrash #...
2973,"""most people have no idea what&amp;#39;s ...\n...",1,NaN,NaN,Objective,#39 #altcoins #bitcoinanalysis #bitcoincrash #...

In [266]:
df_2["Text"][72]

'rt @trade_2022: #forexsignals #trade #traders #bitcoin\n#cryptocurrency #trader #forexsignal\n#tradecommandcenter #forex #binary\n#forexmagnacâ€¦'

In [267]:
df_2["hash_user"][599]

'@trade_2022 #forexsignals #trade #traders #bitcoin #cryptocurrency #trader #forexsignal #tradecommandcenter #forex #binary #forexmagnacâ'

In [268]:
import re
import unicodedata

def clean(text: str):
    if pd.isna(text):
        return ""
    # 1. Normalize Unicode (fix weird chars like Â )
    text = unicodedata.normalize("NFKD", text).encode("ascii", "ignore").decode("utf-8")

    # 2. Lowercase
    text = text.lower()

    # 3. Remove mentions (@usernames)
    text = re.sub(r"@\w+", "", text)

    # 4. Remove hashtags (optional: keep if needed)
    text = re.sub(r"#\w+", "", text)
    text = re.sub(r"#", "", text)
    text = re.sub(r"rt :", "", text)
    text = re.sub(r'\b(?:a|[a-z]*\d+[a-z]*)\b', '', text, flags=re.IGNORECASE)
    
    # 5. Remove line breaks and extra whitespace
    text = re.sub(r"\s+", " ", text).strip()

    # 6. Remove special characters (keep only alphanumeric and space)
    text = text.replace('"', "")
    text=text.strip()
    return text

df_2["Text"] = df_2["Text"].apply(clean)

df_2.sort_values("Text",ascending=True).head(5)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user
743,,0,NaN,NaN,Noise,@trade_2022 #forexsignals #trade #traders #bit...
1396,,0,NaN,NaN,Noise,@trade_2022 #forexsignals #trade #traders #bit...
313,,0,NaN,NaN,Noise,@trade_2022 #forexsignalservice #trade #trader...
274,,0,NaN,NaN,Noise,@grvdomains #domains #domainsforsale #domainsa...
1149,,0,NaN,NaN,Noise,@crypto8usa8drop #dogecoin #dogeshirt #binance...

In [269]:
topdf=df_2.sort_values("Text",ascending=True)
topdf["Text"][36:70]

4943    $ $eth for only tasks to do - just rt + &amp; ...
2065    $ $eth for only tasks to do - just rt + &amp; ...
3902    $ $eth for only tasks to do - just rt + &amp; ...
3418    $ $eth for only tasks to do - just rt + &amp; ...
3473    $ $eth for only tasks to do - just rt + &amp; ...
3746    $ $eth for only tasks to do - just rt + &amp; ...
3037    $ / usdt volume increase detected! spike: ,. u...
3433    $ cash mega giveaway! prizes: $ cash $sol nft ...
517     $ giveaway follow me like &amp; rt show love o...
1104    $ got me , token when we hit $ thatatms $, usd...
4680           $ in $usdt | for random person follow like
3505     $ now just for signing up. it is real! hurry up!
3457                    $ ~ ends in hours. rt - follow me
4575    $, to enter: follow like this tweet winner ann...
3451    $, to enter: follow like this tweet winner ann...
4846    $, to enter: follow like this tweet winner ann...
4245    $, to enter: follow like this tweet winner ann...
4635    $, to enter: follow like this tweet winner ann...
3562    $, to enter: follow like this tweet winner ann...
4170    $, to enter: follow like this tweet winner ann...
3367    $, to enter: follow like this tweet winner ann...
4310    $, to enter: follow like this tweet winner ann...
4147    $, to enter: follow like this tweet winner ann...
3653    $, to enter: follow like this tweet winner ann...
4067    $, to enter: follow like this tweet winner ann...
3665    $, to enter: follow like this tweet winner ann...
4962    $, to enter: follow like this tweet winner ann...
285     $,, longed @$. [// ::] bybit | $btcusd go all ...
1254    $,, longed @$. [// ::] bybit | $btcusd go all ...
4208    $ada to win so! we are preparing our next week...
4107    $algo one of my favorite crypto projects. did ...
1683                                      $bake pump it..
2808                                      $bake pump it..
794     $bcaw has been verified on bscscan, you can ea...
Name: Text, dtype: object

In [270]:
for i in range(36):
    print(df_2["Text"][i])

i vote for at this year is
start with what is right rather than what is acceptable. -franz kafka
ain the same day i saw &amp; i had an autograph i votea
snivy . gogo take your first pokemon . link : . .
join the now!
loved the edit i vote for at this year is
$cats love gorilla marketing. video montage of cat stickers around the world.
she is freaking attractive in any hairstyle, but with long black hair, that attractiveness just skyrocketed to anothera
remember that gesture of friendship, no matter how small, is always appreciated. -h. jackson brown jr.
most of the blinkshit community i vote for at this year is
am et | the daily forkast from asia, to the world. brings you stories and on emerga
let is do everything we can to get these awards for our girl lisa. she deserves everything that is good in thia
there is snow business like snow business.......
yes, you are smoking the best! full video:
lisa instagram has surpassed . followers.
look at this handsome fella i just got!!! love it. and i got in in the . it could not have beea
let is do it i vote for at this year is
sincerely, shiloh by zoilstar nft on rarible now
need ? sign up now free. no middleman
belarus leader stands with russia in campaign via fxempire
the first book of is finished have you read it yet ? what are you waiting for ? it is free completely
lisa best girl i vote for at this yearatms
i have never seen any hard workinga
aa special mention this time to who invited the superstar of k-pop group who is also soloist rapper,
[] - sk_kim_photo ig updates with : i va
the for footwear, seasonally adjusted, increased .% mom in may after -.% mom in apr .
that is the tweet $kiba
lisa best girl i vote for at this year is
$lfg to the moon &amp; beyond...
australia will ban russian gold imports, give ukraine more armoured vehicles pm via fxempire
[info] - czar van gaal, print editor of v magazine () and v man (), is now following on instagram.
shill me that can go easily in this market .
green pepper lilies! please dont forget this tags to vote our . deadline is only days left! i vote for at this year is i vote and on (@.blackpink)
habo international entertainment fair, just, safe, stable use blockchain hash value as lottery result no backgrounda
if you can hear the voices of the shaarchildren, you should follow the path to aya shaar ! take fantastic journey to thea
$doge

In [271]:
df_2.head(5)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user
0,i vote for at this year is,0,NaN,NaN,Noise,@isomild1 #mtvlakpoplisa #mtvlafandomlisa #mtv...
1,start with what is right rather than what is a...,0,NaN,NaN,Noise,#motivation #inspiration #dogecoin #doge #doon...
2,ain the same day i saw &amp; i had an autograp...,0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline @celineofficial
3,snivy . gogo take your first pokemon . link : . .,0,NaN,NaN,Noise,#01 #nft #nftcommmunity #nfts #nftcommunity #b...
4,join the now!,0,NaN,NaN,Noise,@globaltechg #challenge #wellai #health #healt...

- below is code to know empty string in file

### soo we hav detect language from in kaggle using following code 

```Python 
import pandas as pd 
import numpy as np
from transformers import pipeline
from tqdm import tqdm

df_eng=pd.read_csv(r"/kaggle/input/data-eng/twitter_lang.csv")

# creating a list of sentence to give input as  text 
sentence=[]
for pos, row in df_eng.iterrows():
  if type(row['Text'])== float:      # empty row will append as NaN which will give type error during translation 
    sentence.append("")
  else:
    sentence.append(row['Text'])

text = sentence
model_ckpt = "papluca/xlm-roberta-base-language-detection" # model we are using 
pipe = pipeline("text-classification", model=model_ckpt)

language=[]

for list in tqdm(pipe(text, top_k=1, truncation=True)):
    for dic in list:
        language.append({
                'language':dic["label"]
            })

df_check=pd.DataFrame(language)
df_lang=pd.concat([df_eng,df_check],axis=1)

df_lang.sort_values('language',ascending=False).head(475)

```

now let's us detect language of sentence classified as "other" using langdetect

In [272]:
df_lan=pd.read_csv(r"D:\summer project\Fire\translate_data\twitter_lang.csv")
df_lan.head(5)

,Unnamed: 0,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language
0,0,i vote for at this year is,0,NaN,NaN,Noise,@isomild1 #mtvlakpoplisa #mtvlafandomlisa #mtv...,en
1,1,start with what is right rather than what is a...,0,NaN,NaN,Noise,#motivation #inspiration #dogecoin #doge #doon...,en
2,2,ain the same day i saw &amp; i had an autograp...,0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline @celineofficial,sw
3,3,snivy . gogo take your first pokemon . link : . .,0,NaN,NaN,Noise,#01 #nft #nftcommmunity #nfts #nftcommunity #b...,en
4,4,join the now!,0,NaN,NaN,Noise,@globaltechg #challenge #wellai #health #healt...,en

In [273]:
df_lan.columns
df_lang=df_lan.drop(columns=['Unnamed: 0'])
df_lang.head(3)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language
0,i vote for at this year is,0,NaN,NaN,Noise,@isomild1 #mtvlakpoplisa #mtvlafandomlisa #mtv...,en
1,start with what is right rather than what is a...,0,NaN,NaN,Noise,#motivation #inspiration #dogecoin #doge #doon...,en
2,ain the same day i saw &amp; i had an autograp...,0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline @celineofficial,sw

In [274]:
df_lang["language"][72]

'th'

In [275]:
df_lang["Text"][72]

nan

In [276]:
df_lang.columns

Index(['Text', 'Level 1', 'Level 2', 'Level 3', 'Datatype', 'hash_user',
       'language'],
      dtype='object')

In [277]:
new_df=df_lang.loc[(df_lang["language"]!='en') & (df_lang["language"]!='hi')]
new_df.tail(2)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language
4983,welcome to daoverse: ha,2,NaN,NaN,Subjective,@daodvrs #dao #daos #cryptotrading #cryptocurr...,pt
4986,hodl when everybody else panicsa,2,2.0,NaN,Positive,@btc_archive #bitcoin,sw

- Tokenize the text - word_tokenize
 - Remove stop words - stopwords.words('english')
 - Lemmatize the tokens- WordNetLemmatizer().lemmatize()
 - Join the tokens back into a string

In [278]:
import nltk
nltk.download('punkt_tab')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

def preprocess_text(text:str):
    if type(text)==float:
        return ""
    else:
        tokens=word_tokenize(text=text)
        rem_stopword=[token for token in tokens if token not in stopwords.words('english')]
        lematizer=WordNetLemmatizer()
        lematize=[lematizer.lemmatize(word) for word in rem_stopword]
        sent=" ".join(lematize)
        return sent
new_df["processed_Text"]=new_df["Text"].apply(preprocess_text)
# print(preprocess_text(text="hello brother whatcha you doing , you nigga how's your are brother"))

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ALOK\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ALOK\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ALOK\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
C:\Users\ALOK\AppData\Local\Temp\ipykernel_13260\277482239.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["processed_Text"]=new_df["Text"].apply(preprocess_text)

In [279]:
new_df.head(5)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language,processed_Text
2,ain the same day i saw &amp; i had an autograp...,0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline @celineofficial,sw,day saw & amp ; autograph votea
21,lisa best girl i vote for at this yearatms,0,NaN,NaN,Noise,@laliceupdates #mtvlakpoplisa #mtvlafandomlisa...,sw,lisa best girl vote yearatms
24,[] - sk_kim_photo ig updates with : i va,0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline,sw,[ ] - sk_kim_photo ig update : va
30,"[info] - czar van gaal, print editor of v maga...",0,NaN,NaN,Noise,@lsmtrends @vmagazine @vman #lisa,nl,"[ info ] - czar van gaal , print editor v maga..."
40,NaN,0,NaN,NaN,Noise,@jordanomiko @puli_token #puli #pulifam #pulin...,th,

In [280]:
from langdetect import detect 

def detection(text:str):
    if type(text)==float:
        return ""
    else:
        return detect(text)
    
new_df["language"]=new_df["Text"].apply(detection)

C:\Users\ALOK\AppData\Local\Temp\ipykernel_13260\661494296.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["language"]=new_df["Text"].apply(detection)

In [281]:
new_df["language"][:30]

2      en
21     en
24     en
30     en
40
70     nl
72
75     en
82     en
84     en
105    en
108
109
111    en
116    en
124    en
129    sv
130    en
134    en
146    en
147    en
157
174    en
178    en
182    ca
203    ca
204    en
207
213
215    da
Name: language, dtype: object

In [282]:
new_df["Text"][207]

nan

In [283]:
arranging_df=new_df.loc[(new_df["language"].notna()) & (new_df["language"] != "") & (new_df["language"] != "en")]
arranging_df

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language,processed_Text
70,tma dominio kpop hit global del aao best fa,0,NaN,NaN,Noise,@note3261,nl,tma dominio kpop hit global del aao best fa
129,[] - ig update: (),0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline #lalisa #money,sv,[ ] - ig update : ( )
182,i've just created cara de pedra collectible! via,0,NaN,NaN,Noise,#8 #rarible #ethereum #nonfungible #digitalass...,ca,'ve created cara de pedra collectible ! via
203,arre!!!,0,NaN,NaN,Noise,#eth #ethereum,ca,arre ! ! !
215,forex signal | sell eurusd. | sl:. | tp:. | .....,0,NaN,NaN,Noise,@1 #fx #forex #fb,da,forex signal | sell eurusd . | sl : . | tp : ....
...,...,...,...,...,...,...,...,...
4928,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4941,welcome to daoverse: ha,2,0.0,0.0,Neutral sentiment,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4946,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4949,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4955,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha

In [284]:
new_df.tail(10)

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language,processed_Text
4914,piccolo army will rise in july. we are prepari...,2,0.0,0.0,Neutral sentiment,@piccoloinu #crypto #p2e,en,piccolo army rise july . preparing something
4928,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4929,is going to take hit tomorrow? $hex $inu $sgmt...,2,0.0,1.0,Question,#btc #cryptocurrency #eth #bnb #crypto #crypto...,en,going take hit tomorrow ? $ hex $ inu $ sgmt $...
4941,welcome to daoverse: ha,2,0.0,0.0,Neutral sentiment,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4946,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4949,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4955,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4964,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,en,welcome daoverse : ha
4983,welcome to daoverse: ha,2,NaN,NaN,Subjective,@daodvrs #dao #daos #cryptotrading #cryptocurr...,en,welcome daoverse : ha
4986,hodl when everybody else panicsa,2,2.0,NaN,Positive,@btc_archive #bitcoin,en,hodl everybody else panicsa

In [285]:
arranged_df=arranging_df.sort_values("Text",ascending=True)
arranged_df

,Text,Level 1,Level 2,Level 3,Datatype,hash_user,language,processed_Text
2470,&gt,1,NaN,NaN,Objective,@themooncarl #bitcoin,af,& gt
1406,", $atoken $btc",0,NaN,NaN,Noise,#atoken #crypto #blockchain #pos #bsc #eth,no,", $ atoken $ btc"
709,--&gt,0,NaN,NaN,Noise,@chainabuse #icymi,af,-- & gt
1217,[] - ig update: (),0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline #lalisa #money,sv,[ ] - ig update : ( )
129,[] - ig update: (),0,NaN,NaN,Noise,@laliceupdates #lisa #lisaxceline #lalisa #money,sv,[ ] - ig update : ( )
...,...,...,...,...,...,...,...,...
3731,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
3728,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
3707,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
3817,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha
4955,welcome to daoverse: ha,2,0.0,2.0,Advertisement,@daodvrs #dao #daos #cryptotrading #cryptocurr...,nl,welcome daoverse : ha

In [286]:
arranged_df[["Text","Datatype"]][150:170]

                         Text           Datatype
3880  welcome to daoverse: ha  Neutral sentiment
3864  welcome to daoverse: ha      Advertisement
3852  welcome to daoverse: ha      Advertisement
3682  welcome to daoverse: ha      Advertisement
3850  welcome to daoverse: ha      Advertisement
3816  welcome to daoverse: ha      Advertisement
3810  welcome to daoverse: ha      Advertisement
3796  welcome to daoverse: ha      Advertisement
3795  welcome to daoverse: ha      Advertisement
4949  welcome to daoverse: ha      Advertisement
3781  welcome to daoverse: ha      Advertisement
3770  welcome to daoverse: ha      Advertisement
3742  welcome to daoverse: ha         Subjective
3735  welcome to daoverse: ha      Advertisement
3731  welcome to daoverse: ha      Advertisement
3728  welcome to daoverse: ha      Advertisement
3707  welcome to daoverse: ha      Advertisement
3817  welcome to daoverse: ha      Advertisement
4955  welcome to daoverse: ha      Advertisement

In [287]:
df['Text'][4941]

'rt @daodvrs: welcome to daoverse:\n\n\n\n\n#dao #daos #cryptotrading #cryptocurrency #x1000gem hâ€¦'

In [288]:
num1=[ord(char) for char in df['Text'][4941]] 
num2=[ord(char) for char in df['Text'][4949]]
for pos,i in enumerate(num1):
    for pos2,j in enumerate(num2):
        if i!=j and pos==pos2:
            print(i,j)

In [289]:
df['Text'][4949]==df['Text'][4941]

True

In [290]:
df['Text'][4949]

'rt @daodvrs: welcome to daoverse:\n\n\n\n\n#dao #daos #cryptotrading #cryptocurrency #x1000gem hâ€¦'

In [291]:
df['Text'][4983]==df['Text'][4949]

True